.main__container {
  background: black;
  display: flex;
  height: 100vh;
  padding: 25px;
  flex-direction: column;
}

.header {
  flex: 1;
}

.tv__show__details {
  flex: 2;
}

.recommendations {
  flex: 1;
}
